package pages

import (
	"github.com/distractedpen/blogsite/components"
)

templ ArticlePage(title string, content templ.Component) {
	<html>
		@components.Head(title)
		<body>
			@components.Nav()
			<main class="content">
				@content
			</main>
			@components.Footer()
		</body>
	</html>
}
