package pages

import (
	"github.com/distractedpen/blogsite/components"
)

templ ErrorPage() {
	<html>
        @components.Head("Blog Page not found")
		<body>
			@components.Nav()
			<main class="">
				<h1>404</h1>
				<p>Page not found</p>
			</main>
			@components.Footer()
		</body>
	</html>
}
