{{define "head"}}
<head>
    <meta charset='utf-8'>
    <title>Taylor's Blog</title>
    <link rel='stylesheet' type='text/css' href='/static/css/build.css'/>
</head>
{{end}}

{{define "nav"}}
<nav class="flex items-center justify-between flex-wrap pl-4 pr-4">
    <div class="flex flex-col item-center flex-shrink-0 text-black">
        <p class="text-3xl">Taylor's Blog</p>
        <p class="text-xl">The thoughts of a simple developer.</p>
    </div>
    <div>
        <div class="flex flex-row lg:flex-grow">
            <a href="#" class="p-2 text-black text-md hover:text-white hover:bg-gray-500">About</a>
            <a href="#" class="p-2 text-black text-md hover:text-white hover:bg-gray-500">Resume</a>
            <a href="/" class="p-2 text-black text-md hover:text-white hover:bg-gray-500">Articles</a>
        </div>
    </div>
</nav>
<hr class="border-b border-solid border-black mb-12"/>
{{end}}

{{define "contentlist"}}
<div class="flex flex-row flex-wrap justify-center">
    {{ range .}}
    <div class="bg-gray-400 flex flex-col mb-6 basis-3/5">
        <div class="flex-shrink-0 mb-2 pl-2 pt-2">
            <h1 class="text-5xl">{{.ArticleMetadata.Title}}</h1>
            <p class="text-md text-right mr-2 text-gray-100">{{.ArticleMetadata.DatePublished}}</p>
        </div>
        <hr class="border-b border-solid border-black "/>
        <div class="grow flex justify-center mt-2">
            <p class="max-w-3xl">
                {{.ArticleMetadata.Abstract}}
                <a href={{.Path}} class="block text-md text-center p-2 m-2 bg-black text-white">Read More</a>
            </p>
        </div>
    </div>
    <div class="basis-3/5 flex flex-col justify-end">
    </div>
    {{ end }}
</div>
{{ end }}
</div>


{{define "footer"}}
<div class="bg-gray-500 max-h-10"><p>2024 Taylor Noble</p></div>
{{end}}

