<!DOCTYPE html>
<html lang='en'>
{{ template "head" .}}
<body class="bg-gray-300 h-screen">
    {{ template "nav" .}}
    <hr class="border-b border-solid border-black mb-12"/>
    <main class="flex flex-row">
        <section class="basis-4/5">
            {{ template "contentlist" .}}
        </section>
        <section class="basis-1/5">
            <div class="block">
                <h2 class="text-2xl">Categories</h2>
                <p class="text-md">Blargg (1)</h2>
                <p class="text-md">Blargg (2)</h2>
                <p class="text-md">Blargg (3)</h2>
            </div>
        </section>
    </main>
</body>
</html>
