<!DOCTYPE html>
<html lang='en'>
{{ template "head" .}}
<body class="bg-gray-300 h-screen">
    {{ template "nav" .}}
    <main class="flex flex-col">
        <h1 class="text-3xl mb-6 text-center">This site is currently under construction. All data here is junk test data.</h1>
        <section class="basis-4/5">
            {{ template "contentlist" .}}
        </section>
        <section class="basis-1/5">
            <div class="block">
                <!--TODO: Add Tag List Template-->
                <h2 class="text-2xl">Categories</h2>
                <p class="text-md">Blargg (1)</h2>
                <p class="text-md">Blargg (2)</h2>
                <p class="text-md">Blargg (3)</h2>
            </div>
        </section>
    </main>
</body>
</html>
